services:
  web:
    build: 
      context: ./mykanban
      dockerfile: Dockerfile.prebuild
    environment:
      - NEXT_PUBLIC_PROJECT_HOST=localhost:${API_PORT}
    ports: 
      - ${APP_PORT}:3000
    networks:
      default:
        ipv4_address: 10.5.0.8
    profiles:
      - ""
      - web
  mysql:
    build:
      context: ./
      dockerfile: Dockerfile.mysql
    environment:
     - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
     - MYSQL_DATABASE=Projects
   # - MYSQL_ALLOW_EMPTY_PASSWORD=True
    ports: 
      - 3306:3306
    networks:
      default:
        ipv4_address: 10.5.0.7
    profiles:
      - "" 
      - backend
  api:
    build: 
      context: ./mykanban-api
      dockerfile: Dockerfile.multistage
      target: build-release-stage
    environment:
      - MYSQL_CONNECTION_STRING=root:${MYSQL_ROOT_PASSWORD}@tcp(10.5.0.7)/Projects
    depends_on:
      - mysql
    networks:
      default:
        ipv4_address: 10.5.0.6
    ports:
      - ${API_PORT}:80
    profiles:
      - ""
      - backend
networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1 

  